<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 50px;
            background-color:rgb(243, 190, 243);
            
        }

        img {
            display:block;
            border: 2px solid black;
            border-radius: 15px;

            width:100%;
            height:100%;
            margin: 0 auto;
            object-fit: cover;
        }
    </style>
</head>
<body>
    <img src="{{url_for('video_feed')}}">
</body>
</html>